*, {
  box-sizing: border-box;
}


body, html {
  background-image: url("../img/mountainsBG1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.container {
  position:relative; padding:0 0 0 55px;
}

.navbar {
  position:absolute;
  width: auto;
  text-align: center;
  font-family: Roboto, sans-serif;
  margin-top: 20px;
  /* background:#000; */
}

.content {
  /* border:1px solid #000; */
  margin:5px 0 5px 0;
}

.jumbotron-index-font{
  font-family: 'Libre Barcode 128 Text', cursive;
}

.jumbotron-font{
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 50px;
}

.index-jumbotron {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

.index-h2 {
  font-size: 15px;
}

p, li {
  font-family: Roboto, sans-serif;
}

#propic {
  height: 50px;
  width:50px;
  float: left;
  padding-right: 5px;
  border-radius: 25px;
}

.panel {
  background-color: rgba(255, 255, 255, 0.2);
}
