*, {
  box-sizing: border-box;
}


body, html {
  background-image: url("../img/mountainsBG1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.container {
  position:relative; padding:0 0 0 55px;
}

.navbar {
  position:absolute;
  width: auto;
  /* background:#000; */
}

.content {
  /* border:1px solid #000; */
  margin:5px 0 5px 0;
}

.jumbotron-font{
  font-family: Merriweather, serif;
}

.index-jumbotron {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.75);
}
